/* ---- CSS RESET ------------ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Quicksand', sans-serif;
}

html{
    scroll-behavior:smooth;
}




/* ----VARIBALES ------- */

:root{
    --orange-color:#fc9a45;
    --green-color:#093304;
    --light-green:#0dbc2a;
    --black-color:#000;
    --white-color:#fff;
    --light-gray:#d2cece;
    
}

.top{
    width:50px;
    height:50px;
    background:var(--orange-color);
    position:fixed;
    border-radius:50%;
    z-index:1;
    bottom:5%;
    right:5%;
    cursor: pointer;
    animation:move 3s linear infinite;
}
@keyframes move {
    0%{
        transform:translateY(-10px);
    }
    50%{
        transform:translateY(10px);
    }
     100%{
        transform:translateY(-10px);
     }
}

.top i{
    color:var(--white-color);
    font-size:20px;
    padding:12px;
    margin:auto 5px;
    line-height:25px;
} 

/* ---- NAVBAR SECTION---------- */




.welcome-section{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(3, 57, 15, 0.7),rgba(7, 144, 32, 0.7)),url('images/bg-image.jpg');
    background-size:cover;
    background-position:center;
    position:relative;
}



nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:3% 8%;
    height:80px;
}

nav .logo{
    width:90px;
    cursor:pointer;
}


nav .active{
    font-weight:900;
}

nav li{
   display:inline-block;
   margin:10px 30px;
}


nav li a{
    color:var(--green-color);
    text-decoration:none;
    font-size:18px;
    font-weight:600;
}


nav li:after{
    content:'';
    width:0;
    height:4px;
    background:var(--green-color);
    border-radius:6px;
    display:block;
    margin:4px auto;
    transition:.3s;
}


nav li:hover:after{
    width:100%;
}



.order{
    background:var(--black-color);
    padding:15px 40px;
    border-radius:6px;
    color:var(--white-color);
    text-decoration:none;
    font-size:17px;
    font-weight:700;
    transition:background .3s;
}

.order:hover{
    background:transparent;
    border:2px solid var(--black-color);
    color:var(--black-color)
}




.welcome-info{
    width:100%;
    padding:2% 8%;
    position:absolute;
    top:20%;
}


.welcome-info h3{
    color:var(--white-color);
    font-size:20px;
    margin-bottom:15px;
    font-weight:600;
}

.welcome-info h1{
    font-size:60px;
    color:var(--white-color);
    font-weight: 900;
}

.welcome-info P{
    font-size:20px;
    color:var(--light-gray);
    margin-top:25px;
    line-height:28px;
    font-weight:600;

}

.welcome-info-btn{
    padding:15px 30px;
    background:var(--orange-color);
    color:var(--white-color);
    text-decoration:none;
    display:inline-block;
    margin-top:25px;
    border-radius:10px;
    font-size:18px;
    font-weight:900;
}
/* ----END OF NAVBAR SECTION */


/* -----ABOUT STYLING ----- */
section{
    padding:100px 0;
}

.about-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    padding:2% 8%;
    gap:40px;
}

.about-info{
    position: relative;
}

.about-info img{
    width:100%;
    border-radius:15px;
}


.about-info h4{
    color:var(--light-green);
    margin-bottom:25px;
}


.about-info h2{
    font-size:56px;
    line-height:56px;
    margin-bottom:25px;
}


.about-info p{
    line-height:28px;
    color:#908e8e;
    margin-bottom:25px;
}

.read-more{
    padding:15px 30px;
    background:var(--light-green);
    color:var(--white-color);
    text-decoration:none;
    font-size:17px;
    font-weight:700;
    display:inline-block;
    border-radius:12px;
    transition:background .3s;
}

.read-more:hover{
    background:transparent;
    border:2px solid var(--light-green);
    color:var(--light-green);
}



/* ----- END OF ABOUT STYLING---------- */







/* ---- RESPONSIVE SECTION ------- */

@media(max-width:600px){

    nav .logo{
        width:70px;
    }

    nav ul{
        display:none;
    }


    .welcome-section{
        height:60vh;
    }


    .welcome-info h3{
        font-size:14px;
    }

    .welcome-info{
        position:absolute;
        top:10%;
    }


    .welcome-info h1{
        font-size:40px;
    }
    
    .welcome-info p{
        font-size:12px;
    }

}