/* ---- CSS RESET ------------ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Quicksand', sans-serif;
}



/* ----VARIBALES ------- */

:root{
    --orange-color:#fc9a45;
    --green-color:#093304;
    --light-green:#0dbc2a;
    --black-color:#000;
    --white-color:#fff;
    
}


/* ---- NAVBAR SECTION---------- */